#dealer-hand {
    height: 260px;
    background-color: rgb(10, 177, 32);
}

#player-hand {
    height: 260px;
    background-color: rgb(10, 177, 32);
}

#board {
    border-radius: 5%;
    background-color: rgba(8, 255, 243, 0.774);
    margin: 20px;
}

#table {
    margin: 30px;
}

img {
    height: 200px;
    margin: 10px;
}